{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="text-info fw-bold">Inventario</h2>
    <a href="{% url 'agregar_material' %}" class="btn btn-success fw-bold">➕ Registrar Material</a>
</div>
<div class="table-responsive">
    <table class="table table-hover">
        <thead class="table-dark">
            <tr><th class="fw-bold">Nombre</th><th class="fw-bold">Stock</th></tr>
        </thead>
        <tbody>
            {% for m in materiales %}
            <tr><td class="fw-bold text-info">{{ m.nombre }}</td><td>{{ m.stock }}</td></tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}